.popup {
    position: fixed;
    display: none;
    flex-direction: column;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    padding: 123px 19px;
    z-index: 1;
}

.popup::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.3;
    z-index: -1;
    background-color: black;
}

@media (min-width: 1024px) {
    .popup {
        padding: 160px 338px;
    }
}

@media (min-width: 1280px) {
    .popup {
        padding: 195px 425px;
    }
}




