.header {
    padding: 28px 0 31px;
    position: relative;
    z-index: 1;
}

.header::after {
    border-bottom: 1px solid #545454;
    opacity: 0.7;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

@media (min-width: 768px) {
    .cover {
        margin-bottom: 88px;
    }
}

@media (min-width: 1024px) {
    .header {
        max-width: 880px;
    }
}

@media (min-width: 1280px) {
    .header {
        padding: 45px 0 40px;
    }
}