.popup__submit {
    margin: 0 22px 25px;
    padding: 14px 82px;
    background-color: black;
    color: white;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center; 
    border-radius: 2px;
}