.popup__close {
    position: absolute;
    top: -39px;
    background-image: url(../../../images/add-button.svg);
    width: 26px;
    height: 26px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
    border: none;
    padding: 0;
    background-color: transparent;
    align-self: flex-end;
    transform: rotate(45deg);
}

@media (min-width: 1024px) {
    .popup__close {
        width: 40px;
        height: 40px;
        top: -40px;
        right: -40px;
    }
}